:root {
  font-family: 'Roboto', sans-serif;  
} 
body {
  background-color: #f1efef ;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-area {
  display: flex;
  flex: 1;
  margin-top: 60px;
}

.sidebar {
  width: 260px; 
  height: calc(100vh - 70px);
  overflow-y: auto;
  background-color: #fff;
  position: sticky;
  top: 0;
}

.main-content {
  height: calc(100vh - 70px);
  flex: 1;
  overflow-y: auto;
}
