:root {
  font-family: 'Roboto', sans-serif;  
} 
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-area {
  display: flex;
  flex: 1;
}

.main-content {
  padding: 3px;
  flex: 1;
  background-color: #eef1f6;
}
