:root {
  font-family: 'Roboto', sans-serif;  
} 
body {
  background-color: #fff ;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-area {
  display: flex;
  flex: 1;
  margin-top: 80px;
}

.sidebar {
  width: 260px; 
  height: calc(100vh - 80px);
  overflow-y: auto;
  background-color: #fff;
  position: sticky;
  top: 0;
}

.main-content {
  padding: 3px;
  flex: 1;
  height: calc(100vh - 80px); 
  background-color: #fff;
  overflow-y: auto;
}
